@font-face {
    font-family: "SailingScribe";
    src: url("SailingScribe-1jEYM.ttf") format("trueType");
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #275199;
    color: #7997e6;
}

h1 {
    font-family: "SailingScribe", sans-serif;
    color: #B8D8F1;
    font-size: 60px;
}

#fish-card {
    background: #021460;
    padding: 20px;
    margin: 40px auto;
    width: 500px;
    border-radius: 12px;
}

img {
    border-radius: 10px;
    margin: 15px 0;
}