<!DOCTYPE html>
<html>
    <head>
        <title>Fih of Dih Day</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <audio id="bg-music" autoplay loop>
            <source src="/static/04. pipo pipo.mp3" type="audio/mp3">
        </audio>
        <img id="title-image" src="/static/title.PNG" alt="Fish of the Day">
        <div id="jellyfish-container"></div>
        <div id="fish-info">
            <p>Loading...</p>
        </div>
        <button onclick="playMusic()">Play Music</button>

        <script>
        function playMusic() {
            document.getElementById("bg-music").play();
        }
        </script>
        <script>
            function spawnJellyfish() {
                const container = document.getElementById("jellyfish-container");

                const jelly = document.createElement("img");
                // choose jelly color
                const randomBinary = Math.floor(Math.random() * 2);
                if (randomBinary == 0) {
                    var jellyfishString = "light_blue_jellyfish.gif"
                }
                else {
                    var jellyfishString = "dark_blue_jellyfish.gif"
                }
                jelly.src = "/static/" + jellyfishString;
                jelly.className = "jellyfish";

                // random x
                jelly.style.left = Math.random() * 100 + "vw";

                // random size jellyfish
                const size = 40 + Math.random() * 60;
                jelly.style.width = size + "px";

                // random speed (Duration)
                const duration = 8 + Math.random() * 10;
                jelly.style.animationDuration = duration + "s";

                container.appendChild(jelly);

                // remove after animation done
                setTimeout(() => {
                    jelly.remove();
                }, duration * 1000);
            }

            // spawn every 1-2 seconds
            setInterval(() => {
                spawnJellyfish();
            }, 1000 + Math.random() * 1000);
           



            fetch("/api/fish-of-the-day").then(response => response.json()).then(data => {document.getElementById("fish-info").innerHTML = `
                <h2>${data.common_name}</h2>
                <h3><i>${data.scientific_name}</i></h3>
                <img src="${data.fishbase_image}" width="400">
                <p><strong>Water Type:</strong> ${data.water_type}</p>
                <p><strong>Depth:</strong> ${data.depth_range_m} m</p>
                <p><strong>Max Length:</strong> ${data.max_length_cm} cm</p>
                `;
            }).catch(error => {
                console.error("Error:", error);
                document.getElementById("fish-info").innerHTML = "Error loading fih";
            });
        </script>
    </body>
</html>